* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(https://wallpaper-house.com/data/out/12/wallpaper2you_475249.jpg);
    padding-top: 70px;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Logino ir registracijos stilius */

.logmod {
    display: flex;
}

.logmod__wrapper {
    display: flex;
    background: #FFF;
    position: relative;
    width: 500px;
    border-radius: 4px;
    margin: 120px auto;
}

.logmod__container  {
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
}

.logmod__tab-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.logmod__tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab {
    width: 50%;
    position: relative;
    float: left;
    text-align: center;
    background: #809191;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.tab-active {
    width: 50%;
    position: relative;
    float: left;
    background: #FFF;
    text-align: center;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    
}

.inputs{
    display: flex;
    flex-wrap: wrap
}

.block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    height: 71px;
    padding: 11px 24px;
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
    float: left;
    background-color: #FFF;
    border-radius: 0;
    box-sizing: border-box;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
}

.input {
    position: relative;
    display: inline-block;
    height: 24px;
    font-size: 14px;
    line-height: 19.2px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: #000;
}


  .inputs .hide-password {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
    border-left: 1px solid #e4e4e4;
    font-size: 14px;
    background: #FFF;
    overflow: hidden;
    color: #444;
    cursor: pointer;
    margin-top: 12px;
    line-height: 48px;
}

.form__actions .sumbit {
    height: 48px;
    color: #FFF;
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    background: #4CAF50;
    margin-top: 7px;
    margin-left: 235px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgba(14, 104, 36, 0.24), 0 8px 30px 0 rgba(0,0,0,0.19);
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E5E5E5;
    max-height: 216px;
    overflow-y: scroll;
}

logmod_form {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}

.radio-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.check_news {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.check_rules {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.block:nth-child(9) {
    width: 100%;
}

.block:last-child {
    width: 100%;
}

/* top navigation stilius */

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav_section {
    color: #6d5f5f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav_section:hover {
    background-color: #555;
    color: white;
}

.nav_section-active {
    background-color: #4CAF50;
    color: white;
}

/* post ir feed stiliai */


/* Desktops ----------- */
@media only screen and (min-width: 1096px) {
    .feed {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: 100px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Tablets ----------- */
/* @media only screen and (max-width: 529px) {
    .feed {
        display: flex;
        flex-wrap: wrap;
} */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 520px) {
    .feed {
        display: flex;
        flex-direction: column;
        
    }
}

/* Galima kurti kiek tik nori breakpointu pritaikant bet kokiam prietaiso modeliui, ieškoti listų su išmatavimais ir t.t. ----------- */

.page_name {
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 1; 
    width: 100%;
    padding: 10px;
    text-align: center;
}

.post1 {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
    width: 100%;
    height: auto;
    padding: 10px;
    background: #FFF;
    border-radius: 4px;
}

.post1:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.post1:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.post1:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.photo img {
    position: relative;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.photo span {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.post_name {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.author {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}


