* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(http://hdqwalls.com/wallpapers/3d-cube-background-4k-yo.jpg);
    padding-top: 70px;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    display: flex;
    flex-direction: column;
    background: #FFF;
    position: relative;
    width: 500px;
    height: auto;
    border-radius: 4px;
    margin: 120px auto;
    padding: 10px;
}

/* naujo straipsnio kūrimas */

.form {
    display: flex;
    flex-direction: column;
    background: #FFF;
    position: relative;
    width: 500px;
    height: auto;
    border-radius: 4px;
    margin: 120px auto;
    padding: 10px;
}

.article_box {
    border-style: groove;
    border-radius: 4px;
    display:block;/*reset from inline*/
    width:100%;
    height: auto;
    margin:0;/*remove defaults*/
    padding:4px;
    background:#EEF;
    border:1px solid #333;
    overflow-y:auto;/*resets IE*/
    overflow-x:hidden;/*resets IE*/
}

/* Logino ir registracijos stilius */

.logmod {
    display: flex;
}

.logmod__wrapper {
    display: flex;
    background: #FFF;
    position: relative;
    width: 500px;
    border-radius: 4px;
    margin: 120px auto;
}

.logmod__container  {
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
}

.logmod__tab-wrapper {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
}

.logmod__tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tab {
    width: 50%;
    position: relative;
    float: left;
    text-align: center;
    background: #809191;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.tab-active {
    width: 50%;
    position: relative;
    float: left;
    background: #FFF;
    text-align: center;
    line-height: 72px;
    height: 72px;
    text-decoration: none;
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    
}

.inputs{
    display: flex;
    flex-wrap: wrap
}

.block {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    height: 71px;
    padding: 11px 24px;
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
    float: left;
    background-color: #FFF;
    border-radius: 0;
    box-sizing: border-box;
}

.label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
}

.input {
    position: relative;
    display: inline-block;
    height: 24px;
    font-size: 14px;
    line-height: 19.2px;
    color: #555;
    border-radius: 4px;
    vertical-align: middle;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    color: #000;
}


  .inputs .hide-password {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 15px;
    border-left: 1px solid #e4e4e4;
    font-size: 14px;
    background: #FFF;
    overflow: hidden;
    color: #444;
    cursor: pointer;
    margin-top: 12px;
    line-height: 48px;
}

.form__actions .sumbit {
    height: 48px;
    color: #FFF;
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    background: #4CAF50;
    margin-top: 7px;
    margin-left: 235px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgba(14, 104, 36, 0.24), 0 8px 30px 0 rgba(0,0,0,0.19);
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E5E5E5;
    max-height: 216px;
    overflow-y: scroll;
}

logmod_form {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
}

.radio-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.check_news {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.check_rules {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.block:nth-child(9) {
    width: 100%;
}

.block:last-child {
    width: 100%;
}

/* top navigation stilius */

.nav {
    margin: 0;
    padding: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav.responsive {
    display: block;
}

.nav a {
    color: #9b9696;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.icon {
    display: none;
    width: 20px;
    height: 20px;
    background-color: red;
}

@media screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .icon {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}


/* post ir feed stiliai */


/* Desktops ----------- */
@media only screen and (min-width: 1096px) {
    .feed {
        display: grid;
        grid-gap: 10px;
        grid-template-rows: 100px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Tablets ----------- */
/* @media only screen and (max-width: 529px) {
    .feed {
        display: flex;
        flex-wrap: wrap;
} */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 520px) {
    .feed {
        display: flex;
        flex-direction: column;
        
    }
}


/* Galima kurti kiek tik nori breakpointu pritaikant bet kokiam prietaiso modeliui, ieškoti listų su išmatavimais ir t.t. ----------- */

.page_name {
    display: flex;
    flex-direction: row;
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 1; 
    width: 100%;
    height: 600px;
    padding: 10px;
    text-align: center;
}

.post1 {
    display: block;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
    width: 100%;
    height: auto;
    padding: 10px;
    background: #FFF;
    border-radius: 4px;
}

.post1:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
}

.post1:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.post1:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.post1:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.photo img {
    position: relative;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
}

.photo span {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

.post_name {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.author {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}

/* lentele */

table {
    border: 3px solid black;
    width: 100%;
}

thead {
    border: 2px solid black;
}

tr {
    height: 50px;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid green; 
}

button {
    height: 48px;
    color: #FFF;
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    background: #4CAF50;
    margin-top: 7px;
    margin-left: 235px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 6px 16px 0 rgba(14, 104, 36, 0.24), 0 8px 30px 0 rgba(0,0,0,0.19);
}

/* dropdown stilius */

.dropdown {
    color: #6d5f5f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #555;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display:block;
}


/* skaiciuotuvo stilius */

.calculator {
    font-family: 'Roboto', sans-serif;
    height: 482px;
    width: 345px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 8px 30px 0 rgba(190, 188, 28, 0.25), 0 8px 30px 0 rgba(190,188,28,0.25);
}

.display {
    height: 25%;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(5, 5, 5, 0.4);
}

.buttonField {
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    width: 100%;
    background-color: #515A7D;
    border-radius: 0px 0px 8px 8px;
}

.ctrlBar {
    height: 25%;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    padding-top: 10px;
}

.resultBar {
    height: 75%;
    width: 100%;
}

.resultBar input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    color: #ffffff;
    text-align: right;
    padding-right: 30px;
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
}

.resultBar input::placeholder {
    color: #FFF;
}

.calcBtn {
    width: 25%;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 28px;
    
}


.calcBtn:nth-child(17) {
    width: 50%;
    text-align: left;
    padding: 10px 36px;
}

.comandBtn {
    color: #B6BAC8;
}

.calcBtn:hover {
    background-color: #555;
    color: rgb(165, 163, 39);
}

.dot {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.dot:first-child {
    margin-left: 10px;
    background-color: #FF554E;
}

.dot:nth-child(2) {
    background-color: #FFBE2F;
}

.dot:nth-child(3) {
    background-color: #29CA41;
}